@media screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .logo {
    margin: 45px auto 50px;
    width: 95%;
  }
  .goback {
    font-size: 150%;
    padding: 0 9px;
  }
  .flash-notification-message {
    -webkit-transition: opacity 3s;
    transition: opacity 3s;
    opacity: 1;
    font-size: 300%;
  }
  .flash-notification-message.ng-leave-active {
    opacity: 0;
  }
  .fromsigninmessage {
    font-size: 300%;
  }
  #signin {
    font-size: 200%;
  }
  #signin input[type='email'] {
    margin-top: 15px;
    margin-bottom: 13px;
  }
  #signin input[type='email'],
  #signin input[type='password'] {
    height: 100px;
    font-size: 150%;
  }
  #signin input[type='password'] {
    margin-bottom: 30px;
  }
  #signin button {
    font-size: 200%;
    width: 100%;
    margin-bottom: 25px;
  }
  #signin .forgot {
    margin-bottom: 40px;
    font-size: 150%;
  }
  #mainpage {
    font-size: 200%;
  }
  #mainpage .btn-group {
    width: 100%;
  }
  #mainpage .main-buttons {
    margin: 100px 0 150px 0;
  }
  #mainpage .main-buttons a {
    font-size: 300%;
  }
  #mainpage .main-signin-button,
  #mainpage .main-register-button {
    background-color: #f8b31e;
    color: #000;
    border: 1px solid #000;
  }
  #mainpage .main-signin-button:hover,
  #mainpage .main-register-button:hover {
    background-color: #000;
    color: #f8b31e;
    border: 1px solid #f8b31e;
  }
  #mainpage .main-message,
  #checkavailability .main-message {
    margin: 50px 0 60px 0;
    font-size: 500%;
  }
  #registerpage {
    font-size: 200%;
  }
  #registerpage h4 {
    font-size: 150%;
  }
  #registerpage .registerform {
    margin-top: 100px;
  }
  #registerpage input[type='text'],
  #registerpage input[type='email'],
  #registerpage input[type='password'],
  #registerpage select {
    height: 50px;
    font-size: 150%;
  }
  #registerpage .cellphonevalidationmessage {
    font-size: 100%;
  }
  #areanotserviced {
    font-size: 200%;
  }
  #checkavailability {
    font-size: 200%;
  }
  #checkavailability .checklabel {
    display: inline-block;
    margin-right: 30px;
    font-size: 250%;
  }
  #checkavailability .checkinput {
    height: 90px;
    font-size: 200%;
    width: 40%;
    margin-bottom: 70px;
  }
  #areanotserviced a {
    display: inline-block;
    margin-left: 13px;
    font-size: 250%;
  }
  #areanotserviced .well {
    width: 100%;
  }
  #areanotserviced h5 {
    font-size: 300%;
  }
  #areanotserviced p {
    font-size: 200%;
  }
  #areanotserviced #top {
    margin-top: 90px;
    margin-bottom: 50px;
  }
  #areanotserviced input[type='text'],
  #areanotserviced input[type='email'] {
    height: 90px;
    font-size: 300%;
  }
  #areanotserviced .noservice-button {
    font-size: 200%;
    background-color: #f8b31e;
    color: #000;
    border: 1px solid #000;
    width: 100%;
  }
  #validationpage {
    font-size: 200%;
  }
  #validationpage a {
    font-size: 250%;
  }
  #validationpage h4 {
    font-size: 300%;
  }
  #validationpage .validateform {
    margin-top: 80px;
  }
  #validationpage input[type='text'] {
    font-size: 300%;
    height: 90px;
  }
  #validationpage .validation-message,
  #validationpage .validation-confirm {
    margin: 36px 0 0 0;
    font-size: 250%;
  }
  #validationpage .validate-btn[disabled],
  #validationpage .validate-btn[disabled]:hover {
    background-color: #ccc;
  }
  #validationpage .validate-btn {
    background-color: #f8b31e;
    border: none;
    color: #000;
    width: 100%;
    font-size: 200%;
    margin-top: 75px;
  }
  #validationpage .validate-btn:hover {
    background-color: #000;
    color: #fff;
  }
  #validationpage .validationerror {
    background-color: #c00;
    padding: 5px 10px;
    color: #fff;
    font-size: 250%;
  }
  #verificationsuccesspage {
    font-size: 200%;
  }
  #verificationsuccesspage h4 {
    font-size: 400%;
  }
  #verificationsuccesspage p {
    font-size: 200%;
  }
  #verificationsuccesspage input[type='text'],
  #verificationsuccesspage input[type='password'] {
    font-size: 300%;
    height: 90px;
  }
  #verificationsuccesspage .small {
    font-size: 150%;
  }
  #verificationsuccesspage button {
    background-color: #f8b31e;
    border: none;
    color: #000;
    width: 100%;
    font-size: 200%;
    margin-top: 75px;
  }
  #loginrecovery {
    font-size: 200%;
  }
  #loginrecovery h4 {
    font-size: 300%;
    padding-top: 100px;
    margin-bottom: 70px;
  }
  #loginrecovery label {
    font-size: 200%;
  }
  #loginrecovery input[type='email'],
  #loginrecovery input[type='text'] {
    font-size: 300%;
    height: 90px;
  }
  #loginrecovery .recoverbutton {
    font-size: 200%;
    margin-top: 250px;
    padding: 0 20px;
    background-color: #f8b31e;
    color: #000;
    border: 1px solid #000;
  }
  #accountrecovery {
    font-size: 200%;
  }
  #accountrecovery .recoverinfo {
    font-size: 175%;
    padding: 0 13px;
  }
  #accountrecovery input[type='email'],
  #accountrecovery input[type='text'] {
    font-size: 300%;
    height: 90px;
  }
  #myaccount .mainmenu,
  #mainmenupage .mainmenu {
    margin-top: 100px;
  }
  #myaccount .btn-success {
    margin-bottom: 19px;
    font-size: 700%;
    padding: 20px 0;
    background-color: #f8b31e;
    color: #000;
    border: 1px solid #000;
  }
  #mainmenupage .menubutton {
    margin-bottom: 19px;
    font-size: 500%;
    padding: 10px 0;
    background-color: #f8b31e;
    color: #000;
    border: 1px solid #000;
  }
  #mainmenupage .cart-button {
    font-size: 300%;
  }
  #validatecreditcard {
    font-size: 200%;
  }
  #validatecreditcard h4 {
    font-size: 300%;
  }
  #validatecreditcard p {
    font-size: 130%;
  }
  #validatecreditcard input[type='text'],
  #validatecreditcard select,
  #validatecreditcard label {
    font-size: 180%;
    height: 60px;
  }
  #validatecreditcard a.btn {
    font-size: 200%;
    margin-top: 30px;
    padding: 0 20px;
    background-color: #f8b31e;
    color: #000;
    border: 1px solid #000;
  }
  #validatecreditcard input[type='text'] {
    margin-bottom: 10px;
  }
  #validatecreditcard ul li {
    display: inline-block;
    margin: 0 5px;
  }
  #validatecreditcard .cclabel {
    padding-bottom: 0;
    margin-bottom: 0;
  }
  #validatecreditcard table {
    width: 100%;
    padding: 0;
    background-color: #ddd;
  }
  #validatecreditcard table tr td {
    padding: 5px 0;
  }
  #validatecreditcard .ccform {
    margin-bottom: 700px;
  }
  #footer-menu {
    font-size: 200%;
  }
  #creditcard-validate-menu {
    font-size: 200%;
  }
  #creditcard-validate-menu ul li {
    display: inline-block;
    margin: 0 3px;
  }
  #creditcard-validate-menu a {
    width: 45px;
    height: 6px;
    background-color: #f8b31e;
    border: 1px solid #000;
    border-radius: 0;
    padding: 0;
  }
  #footer-menu ul,
  #creditcard-validate-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  #footer-menu .iconlabel {
    font-size: 250%;
  }
  #footer-menu ul li {
    display: inline-block;
    margin: 0 5px;
  }
  #footer-menu a {
    width: 180px;
    height: 180px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    background-color: #f8b31e;
    border: 1px solid #000;
  }
}
