.topbar
{	
	vertical-align: middle;
	text-align: center;
	background-color: #f8f8f8;
	padding:1%;	
}

.topbar a
{
	float:left;
}

.barlabel
{
	position: relative;
	height:100%;
	font-weight:bold;
	margin-top:1.2%;

}

.big_button
{
	display:block;
	padding:1%;
	width:100%;
	margin-bottom:1%;	
}