#shopbyaisle
  header
    a.nav-left('ng-click="goBack()"') Back
    .title Meat and Seafood
    a.nav-right(href='#') Cart
  .main
    .btn-group-vertical.btn-block
      a.btn.btn-default(href='#') Meats & Seafood
      a.btn.btn-default(href='#') Household Goods
      a.btn.btn-default(href='#') Personal Care & Health
      a.btn.btn-default(href='#') Pet Care 
      a.btn.btn-default(href='#') Wine, Beer, & Spirits

include ../includes/footer
    

