.container.text-center
	iframe(width="640" height="390" src="//www.youtube.com/embed/28xjtYY3V3Q" frameborder="0" allowfullscreen)
	.text-center
		button.btn.btn-primary.swipe-button Swipe

	script.
		fluidvids.init({selector: 'iframe', players: ['www.youtube.com', 'player.vimeo.com']});