#mainmenupage.ng-scope
  header
    a.nav-left(ng-click='goBack()') Back
    span.title Main Menu
    a.nav-right(href='/cart') Cart
  .main
    .btn-group-vertical.btn-block
      a.btn.btn-default(href='/help') Help/FAQS
      a.btn.btn-default(href='/contactus') Contact Us
      a.btn.btn-default(href='/browse') Shop
      a.btn.btn-default(href='/myaccount') My Account
      a.btn.btn-default(href='/recalls') Product Recalls
      a.btn.btn-default(href='/feedback') Feedback
      a.btn.btn-default(href='/customize') Customize 

include ../includes/footer
