#myaccount.ng-scope
    header
      a.nav-left(ng-click='goBack()') Back
      span.title My Account
    .main
      .btn-group-vertical.btn-block
        a.btn.btn-default(href='/paymentinformation') Payment Information
        a.btn.btn-default(href='/deliveryinformation') Delivery Information
        a.btn.btn-default(href='/profile') Profile
        a.btn.btn-default(href='/deactivateaccount') Deactivate Account

