div.navbar.navbar-default.navbar-fixed-top
    div.container
        div.navbar-header
            button(type="button" data-toggle="collapse" data-target=".top-collapse").navbar-toggle
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a(href="#").navbar-brand Food Taxi
        div.navbar-collapse.collapse.top-collapse
            ul.nav.navbar-nav
                li
                    a(href="#") Home
                li
                    a(href="#").disabled Shop
            ul.nav.navbar-nav.navbar-right
                li
                    a(href="#").disabled Cart
div.container
    div.col-md-4
    div.col-md-4.well
        h4 Account Locked
        p.text-danger You have exceeded the maximum number of login attempts.  A message has been sent to you with further instructions.  This message may be sent either by email or SMS, depending upon your election during registration.

        button.btn.btn-default.center-block Return to Login
    div.col-md-4
