#footer-menu
  .navbar-bottom
    .btn-group.btn-group-justified
      a.btn.btn-default(href='/main')
        i.glyphicon.glyphicon-home
        div Home
      a.btn.btn-default(href='/scan')
        i.glyphicon.glyphicon-barcode
        div Scan
      a.btn.btn-default(href='/specials')
        i.glyphicon.glyphicon-usd
        div Specials
      a.btn.btn-default(href='/orders')
        i.glyphicon.glyphicon-shopping-cart
        div Orders
      a.btn.btn-default(href='/more')
        i.glyphicon.glyphicon-share-alt
        div More


