.item-row
  .content.opened.full-width-buttons
    .button.btn.btn-default Same Brand Different Size
    .button.btn.btn-default Same Size Different Brand
    .button.btn.btn-default No Substitutions
   .item-row
    .item-view.pad
      .col-xs-3
        .img
      .col-xs-6
        span.description
          | Chicken (1lb) Skinless Boneless
      .col-xs-3
        span.description.list
          ul
            li QTY: 1
            li Total: $7.99
