#shopmeatandseafood
  header
    a.nav-left('ng-click="goBack()"') Aisle
    .title Shop 
    a.nav-right(href='#') Cart
  .main.pad-top
    .item-row
      span.title Beef
      .content.boxed.evenly-inline
        .item
          .img
          .name Beef Ribs
        .item
          .img
          .name Beef Steak
        .item
          .img
          .name Ground Beef
    .item-row
      span.title Chicken & Turkey
      .content.boxed.evenly-inline
        .item
          .img
          .name Chicken 
        .item
          .img
          .name Whole Chicken
        .item
          .img
          .name Turkey
    .item-row
      span.title Fish & Shellfish
      .content.boxed.evenly-inline
        .item
          .img
          .name Fish
        .item
          .img
          .name Lobster
        .item
          .img
          .name Clams
        

include ../includes/footer
